<div class="footer">
    <mat-card class="footer-card">
        <mat-card-content class="card-container">
            <div class="references-imgs">
                <p>Imagenes tomadas de : </p>
            <span class="card-container">
                <a href="https://www.istockphoto.com/es">istockphoto.com</a>
                <a href="https://es.vecteezy.com/">vecteezy.com</a>
            </span>
        </div>
            <span>By Ehx 💙</span>
            <span>({{author}})</span>

            <span>&copy; 2024 <strong></strong>. Crafted by {{author}}</span>
        </mat-card-content>
      </mat-card>
</div>
