.section{
    margin-top: 80px;
    display: grid;
    justify-content: center;
  }
  .section-converter{
    
    display: flex;
    justify-content: center;
    
  }
  .container mat-form-field + mat-form-field {
      margin-left: 8px;
      
    }
    .select-temp{
      width: 260px;
    }
    .section-result{
      display: flex;
      justify-content: space-between;
      padding-left: 200px;
      
    }
    .result-container{
      padding-top: 140px;
      
    }
    .result-text{
      font-size: 40px;
    }
    #result-loanding{
      padding-left: 180px;
    }
    .converter-imgTemp{
      width: 90px;
      height: 90px;
      margin: 0px 12px;
      cursor: pointer;
      border-radius: 50%;
      border: 1.5px solid transparent;
      transition: .8s;
      
    }
    .converter-imgTemp:hover{
      border: 1.5px solid rgb(34, 191, 226);
    }
    .temp-img{
      width: 360px;
    }
   