<div class="section">
  <h1>Convertidor de Temperatura</h1>
  <div class="section-converter">
    <div class="container">
      <mat-form-field hintLabel="Max 10 characters">
        <mat-label>Cantidad</mat-label>
        <input matInput  #input maxlength="10" placeholder="Ex. Nougat" [(ngModel)]="magnitudeValue"/>
        <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
      </mat-form-field>

      <mat-form-field class="select-temp">
        <mat-label>Grados</mat-label>
        <mat-select [(ngModel)]="valueTempFirst" (selectionChange)="converterTemp(valueTempFirst,
          valueTempSecond, magnitudeValue)" >
          <mat-option *ngFor="let grade of scalesTemp" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
    </div>
    <div >
      <img
        class="converter-imgTemp"
        src="./assets/images/change-temp.jpg"
        alt=""
        (click)="converterTemp(valueTempFirst, valueTempSecond, magnitudeValue)"
      />
    </div>
    <div class="container">
  
      <mat-form-field class="select-temp">
        <mat-label>Grados</mat-label>
        <mat-select [(ngModel)]="valueTempSecond" (selectionChange)="converterTemp(valueTempFirst,
          valueTempSecond, magnitudeValue)" >
          <mat-option *ngFor="let grade of scalesTemp" [value]="grade">{{grade}}</mat-option>
        </mat-select>
        <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="result-container" id="result-loanding" *ngIf="valueNull">
  <p class="result-text">Cargando...VACIO</p>
</div>
<div class="section-result">
  <div class="result-container">
    
    <span class="result-text" *ngIf="!valueNull">
      {{magnitudeValue}} {{valueTempFirst.slice(0,2)}} = {{resultValue}} {{valueTempSecond.slice(0,2)}}
    </span>
    
  </div>
  <div *ngIf="!valueNull">
      <img class="temp-img" src="./assets/images/istockOso.jpg" alt="">
  </div>
  
</div>

